body          {
  background: #F6F6F6;
  padding-bottom: 30px;
  padding-top: 30px;
   font-family: 'Space Mono';
}
.calc{
  max-width: 450px;
    margin: 0 auto;
    padding: 20px 0;
    border: 2px solid #111;
    border-radius: 5px;
    background-color: black;

}


.result{
  color: #FFFFFF;
  display: grid;
  padding: 30px;
  justify-content: center;
  font-size: 50px;
  background-color: #303b4f;
  border-radius: 5px;
  max-width: 360px;
  margin: 0 auto;
  border: 2px solid #111;
  border-radius: 5px;
  text-align: right;
  color: #40be6a;

}
.main{
    max-width: 400px;
    margin: 0 auto;
    border: 2px solid #111;
    border-radius: 5px;
}
.block{
    background:#585b64; 
    border: 1px solid #111;
    padding: 20px;
    color: #EEE;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.5s;
  }
.main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4px;
    padding: 10px;
}
.block:hover{
    transform: scale(1.05);
}



